/* navbar styles */

.logo {
    color: black;
    margin: 10px;
    height: 50px;
}

.navbar {
    box-sizing: border-box;
    background-color: black;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    color: seashell;
    display: flex;
}

.navlinks {
    display: inline-flex;
    color: seashell;
    align-items: center;
    justify-content: flex-end;
    width: 5000px;
    height: 69px;
}

a {
    margin: 10px;
    color: seashell;
}

/* global styles */

body {
    color: seashell; 
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Jumbotron styles */

.jumbotron {
    background-image: url(img-mission-background.jpg);
    height: 700px;
    display: inline-flex;
}

.mission {
    height: 125px;
    width: 1200px;
    background-color: black;
    align-self: center;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
}

.mission h4 {
    margin-bottom: 22px;
    margin: auto;
}


/* Tea of the month styles */
.teasection{
    margin: 0 auto;
   
    width: 1000px;
}
.teamage{
   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.teamage img{
    
    height: 200px;
    width: 300px;
}
/* .tea{
    justify-content: center;
}
.images{
    display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;  
}
.first_three{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}
second_three{
    display: flex;
    justify-content: center;
} */
/* locations */
/* .locatimage h2{
    border: 1px solid red;
    position: relative;
    top: 80px;
}
.locatimage{
    background-image: url(img-locations-background.jpg);
    height: 500px;
    border: 1px solid green;
}
.flex-container{
    display: flex;
    border: 1px solid red;
    
}
.flexitem{
    background-color: black;
    width: 300px;
    display: inline-flex;
} */
.locations{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid red; */
    height: 500px;
    justify-content: center;
    align-items: center;
    background-image: url(img-locations-background.jpg);
}
.flexitem{
    /* border: 1px solid red; */
    opacity: 1 ;
    background-color: black;
    display: inline-block;
    width: 300px;
    margin: 0px 40px;
    position: relative;
    top: 60px;
}
.locathead{
    /* border: 1px solid red; */
    color: seashell;
    
   justify-self: center;
    align-self: flex-start;
    position: relative;
    left: 650px;
    top: 80px;

}
.footer{
/*     border: 1px solid red; */
    display: block;
    height: 200px;
}
.copyright{
    text-align: left;
    margin-left: 20px;
}

  


